<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Timelord</title>
</head>
<body>
<h2>Login</h2>
<input type="text" id="email" placeholder="Email">
<input type="password" id="password" placeholder="Password">
<button id="loginButton">Login</button>
<button id="registerButton">Register</button>

<script>
    document.getElementById('loginButton').addEventListener('click', () => handleAction('login'));
    document.getElementById('registerButton').addEventListener('click', () => handleAction('register'));

    async function handleAction(action) {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const endpoint = action === 'login' ? '/authenticate' : '/register';
        const body = JSON.stringify({ email, password });

        try {
            const response = await fetch(endpoint, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: body
            });

            const data = await response.json();
            if (response.ok) {
                if (action === 'login') {
                    // Save the JWT token and username in local storage and check if it is saved.
                    localStorage.setItem('jwt', data.token);
                    localStorage.setItem('idUser', data.idUser);
                    const tokenCheck = localStorage.getItem('jwt');
                    if (tokenCheck != 'undefined') {
                        fetchProtectedData();
                    } else {
                        console.error("Token was not saved in localStorage.");
                    }
                } else {
                    alert('Registration successful!');
                }
            } else {
                throw new Error(data.error || (action === 'login' ? 'Login failed' : 'Registration failed'));
            }
        } catch (error) {
            console.error('Error:', error);
            alert(error.message);
        }
    }


    async function fetchProtectedData() {
        try {
            const token = localStorage.getItem('jwt');
            const idUser = localStorage.getItem('idUser');
            console.log(idUser);
            if (token) {
                console.log("JWT token found on /logged page:");
            } else {
                console.log("No JWT token found on /logged page.");
                return;
            }

            const response = await fetch('/logged', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`,
                    'idUser': `${idUser}`
                }
            });


            if (response.ok) {
                console.log('Access granted to protected data');
                window.location.href = 'my-page.html';
            } else {
                console.log('Access denied');
            }
        } catch (error) {
            console.error('Error fetching protected data:', error);
        }
    }

</script>
</body>
</html>
